body {
    display: flex;
    flex-direction: column; /* Это изменение располагает элементы в столбик */
    align-items: center;
    justify-content: flex-end; /* Это выравнивает таблицы внизу */
    min-height: 100vh;
    padding: 50px;
    background-color: #18191C;
    color: #e6dfdf;
    font-family: 'Open Sans', sans-serif;

  }

table {
    width: 550px;
    border-top: 7px solid rgb(255, 255, 255);
    border-collapse: collapse;
    text-align: center;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    /* display: contents; */
    /* margin-bottom: 20px; добавляем отступ между таблицами */
    border-collapse: separate;
    border-spacing: 10px 15px;
}

td {
    font-size: 22px;
    font-weight: 700;
    text-align: left;
	padding: 10px;
    height: 70px;
    width: 70px;
	border: 3px solid rgb(255, 255, 255);
}


/* th {
    text-align: center;
    padding: 10px;
    border: 3px solid rgb(43, 129, 17);
} */
